body {
    direction: rtl;
}

#container {
    position: relative;
    top: 25px;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../images/CAT_BG.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left bottom;
}

.header {
    color: mediumslateblue;
    /*color: mediumblue;*/
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Gveret Levin AlefAlefAlef', 'Guttman Yad-Brush';
    margin-top: 10px;
}

#nav1 ul {
    list-style: none;
    width: 440px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

    #nav1 ul li {
        display: grid;
        width: 15%;
        float: right;
    }

        #nav1 ul li a {
            display: block;
            background-color: #2f2f33;
            color: white;
            text-decoration: none;
            text-align: center;
            width: 100px;
            height: 30px;
            Padding-top: 10px;
        }

            #nav1 ul li a:hover {
                background-color: #3097D2;
            }

            #nav1 ul li a:active {
                background-color: green;
            }

h1 {
    font-family: 'Gveret Levin AlefAlefAlef', 'Guttman Yad-Brush';
    color: lightseagreen;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 35px;
    margin-right: 10px;
}


h2 {
    font-family: 'Gveret Levin AlefAlefAlef', 'Guttman Yad-Brush';
    color: royalblue;
    font-size: 25px;
    margin-bottom: 8px;
    margin-top: 6px;
    margin-right: 10px;
}

section {
    padding: 7px;
    margin-right: 25px;
    margin-left: 15px;
    margin-bottom: 20px;
}


table {
    margin-right: 15px;
}

td {
    padding: 3px;
}

.ans, p {
    color: mediumslateblue;
    font-family: 'Dana Yad AlefAlefAlef', 'Guttman Yad';
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 75px;
    margin-right: 25px;
}

section, span, li, ul {
    font-family: 'Dana Yad AlefAlefAlef', 'Guttman Yad';
    font-size: 20px;
}

li {
    margin-right: 25px;
}

img {
    width: 35px;
    height: 35px;
}

ul {
    list-style: square;
}

.eng, span {
    font-family: Pristina;
    font-size: 20px;
}

#mmo {
    background-image: none;
    background-color: white;
    width: 10px;
}

    #mmo:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-image: url(../images/TERA.jpg);
        background-repeat: no-repeat;
    }

#jrpg {
    background-image: none;
    background-color: white;
    width: 10px;
}

    #jrpg:hover {
        color: transparent;
        width: 250px;
        height: 140px;
        background-size: 250px;
        background-image: url(../images/BERSERIA.jpg);
        background-repeat: no-repeat;
    }

#rts {
    background-image: none;
    background-color: white;
    width: 10px;
}

    #rts:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-image: url(../images/CNC.jpg);
        background-repeat: no-repeat;
    }

#cats {
    background-image: none;
    background-color: white;
    width: 10px;
    text-decoration: underline;
}

    #cats:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-image: url(../images/CATS.jpg);
        background-repeat: no-repeat;
        background-size: 250px;
        margin-bottom: 10px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        font-size: 0px;
    }

#prog {
    background-image: none;
    background-color: white;
    width: 200px;
    text-decoration: underline;
}

    #prog:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-image: url(../images/PROG.jpg);
        background-repeat: no-repeat;
    }

#pop {
    background-image: none;
    background-color: white;
    width: 200px;
    text-decoration: underline;
}

    #pop:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-image: url(../images/POP.jpg);
        background-repeat: no-repeat;
    }

#alt {
    background-image: none;
    background-color: white;
    width: 200px;
    text-decoration: underline;
}

    #alt:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-image: url(../images/ALT.jpg);
        background-repeat: no-repeat;
    }

.sublist {
    list-style-type: circle;
    color: lightseagreen;
    text-decoration: underline;
}

.subitem {
    font-size: 20px;
    font-family: Pristina;
}

    .subitem:hover {
        color: transparent;
        width: 250px;
        height: 150px;
        background-size: 250px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        font-size: 0px;
    }
