img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1 {
	font-family: Raleway;
	margin-left: 1.66%;
	margin-top: 2%;
	font-size: 1.5em;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1ad;
	width: 33%;
	padding-bottom: 0.5em;
}

h2 {
	font-family: Raleway;
	margin-left: 1.66%;
	margin-top: 2%;
	font-size: 1.2em;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1ad;
	width: 15%;
	padding: 0.5em 0;
}

ul li{
	width: 30%;
	float: left;
	margin: 1.66%;
	list-style: none;
}

ul li img{
	margin-bottom: 15%;
}

body{
    background-color: #b3d7ff;
}
