img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1 {
	font-family: Raleway;
	margin-left: 1.66%;
	margin-top: 2%;
	font-size: 1.5em;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 0.5em;
}

h2 {
	font-family: Raleway;
	margin-left: 1.66%;
	margin-top: 2%;
	font-size: 1.2em;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 10%;
	padding: 0.5em 0;
}

ul{
	margin-left: -2.5em;
}

ul li{
	width: 30%;
	float: left;
	margin: 1.66%;
	list-style: none;
}

ol{
	margin-bottom: 0rem;
}

body{
    background-color: #cce4ffc4;
}
